<h3>Editar granja</h3>
<hr>
<%= render 'form', farm: @farm %>

<div class="pull-right">
    <%= link_to 'Ver', @farm, :class => "btn-primary btn" %>
    <%= link_to 'Atrás', farms_path, :class => "btn btn-default" %>
</div>