<h3>Editar lote</h3>
<hr>

<%= render 'form', plot: @plot, farm: @farm %>

<div class="pull-right">
    <%= link_to 'Borrar', [@farm, @plot], class:'btn btn-danger', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' }, title: 'Borrar' %>
    <%= link_to 'Ver', [@farm, @plot], class: "btn btn-primary" %>
    <%= link_to 'Atrás', farm_plots_path, class: "btn btn-default" %>
</div>