<h3>Nuevo problema</h3>
<hr>
<%= render 'form', problem: @problem, plot: @plot, farm: @farm %>

<div class="pull-right">
    <%= link_to 'Cancelar', farm_plot_problems_path, class: "btn btn-danger" %>
</div>