<h3>Novedades</h3>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Autor</th>
    </tr>
  </thead>

  <tbody>
    <% @novelties.each do |novelty| %>
      <tr>
        <td><%= link_to novelty.title, novelties_producer_path(novelty) %></td>
        <td><%= novelty.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
