<h3>Editar variedad</h3>
<hr>
<%= render 'form', variety: @variety %>

<div class="pull-right">
    <%= link_to 'Ver', @variety, class: "btn btn-success" %>
    <%= link_to 'Atrás', varieties_path, class: "btn btn-default" %>
</div>