<h3>Editar especie</h3>
<hr>

<%= render 'form', species: @species %>

<div class="pull-right">
    <%= link_to 'Borrar', @species, class:'btn btn-danger', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' }, title: 'Borrar' %>
    <%= link_to 'Ver', @species, class: "btn btn-primary" %>
    <%= link_to 'Atrás', species_index_path, class: "btn btn-default" %>
</div>