<h3>Editar especie</h3>
<hr>

<%= render 'form', species: @species %>

<div class="pull-right">
    <%= link_to 'Ver', @species, class: "btn btn-primary" %>
    <%= link_to 'Atrás', species_index_path, class: "btn btn-default" %>
</div>