
<p>
  <strong>Nombre:</strong>
  <%= @species.name %>
</p>

<div class="pull-right">
  <%= link_to 'Editar', edit_species_path(@species), class: "btn btn-success" %>
  <%= link_to 'Atrás', species_index_path, class: "btn btn-default" %>
</div>