<h3>Editar tipo de problemas</h3>
<hr>
<%= render 'form', type_problem: @type_problem %>

<div class="pull-right">
    <%= link_to 'Ver', @type_problem, class: "btn btn-primary" %>
    <%= link_to 'Atrás', type_problems_path, class: "btn btn-default" %>
</div>