<h3>Editar permisos de usuario</h3>
<hr>

<%= render 'form', user: @user %>

<div class="pull-right">
    <%= link_to 'Ver', admin_user_path(@user), class: "btn btn-primary" %>
    <%= link_to 'Atrás', :back, class: "btn btn-default" %>
</div>