<h3>Editar plantación</h3>
<hr>
<%= render 'form', plantation: @plantation, plot: @plot, farm: @farm %>

<div class="pull-right">
    <%= link_to 'Ver', [@farm, @plot, @plantation], class: "btn btn-primary" %>
    <%= link_to 'Atrás', :back, class: "btn btn-default" %>
</div>