<h1>Editing Plantation</h1>

<%= render 'form', plantation: @plantation, plot: @plot, farm: @farm %>

<%= link_to 'Show', [@farm, @plot, @plantation] %> |
<%= link_to 'Back', farm_plot_plantations_path %>
