<h3>Nueva plantación</h3>
<hr>
<%= render 'form', plantation: @plantation, plot: @plot, farm: @farm %>

<div class="pull-right">
    <%= link_to 'Cancelar', farm_plot_plantations_path, class: "btn btn-danger" %>
</div>