<h3>Editar aplicación de producto</h3>
<hr>
<%= render 'form', product_application: @product_application, plot: @plot, farm: @farm %>

<div class="pull-right">
    <%= link_to 'Borrar', [@farm, @plot, @product_application], class:'btn btn-danger', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' }, title: 'Borrar' %>
    <%= link_to 'Ver', [@farm, @plot, @product_application], class: "btn btn-primary" %>
    <%= link_to 'Atrás', farm_plot_product_applications_path, class: "btn btn-default" %>
</div>