<h3>Nueva aplicación de productos</h3>
<hr>
<%= render 'form', product_application: @product_application, plot: @plot, farm: @farm %>

<div class="pull-right">
    <%= link_to 'Cancelar', farm_plot_product_applications_path, class: "btn btn-danger" %>
</div>