<h3>Editar cosecha</h3>
<hr>
<%= render 'form', crop: @crop, plot: @plot, farm: @farm %>

<div class="pull-right">
    <%= link_to 'Ver', [@farm, @plot, @crop], class: "btn btn-primary" %>
    <%= link_to 'Atrás', farm_plot_crops_path, class: "btn btn-default" %>
</div>