<h3>Editar novedad</h3>
<hr>
<%= render 'form', novelty: @novelty %>

<div class="pull-right">
    <%= link_to 'Ver', @novelty, :class => 'btn-success btn' %>
    <%= link_to 'Atrás', novelties_path, :class => " btn btn-default" %>
</div>