<h3>Editar novedad</h3>
<hr>
<%= render 'form', novelty: @novelty %>

<div class="pull-right">
    <%= link_to 'Borrar', @novelty, class:'btn btn-danger', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' }, title: 'Borrar' %>
    <%= link_to 'Ver', @novelty, :class => 'btn-primary btn' %>
    <%= link_to 'Atrás', novelties_path, :class => " btn btn-default" %>
</div>