<h3>Editar producto</h3>
<hr>
<%= render 'form', product: @product %>

<div class="pull-right">
    <%= link_to 'Borrar', @product, class:'btn btn-danger', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el elemento?' }, title: 'Borrar' %>
    <%= link_to 'Ver', @product, class: "btn btn-primary" %>
    <%= link_to 'Atrás', :back, class: "btn btn-default" %>
</div>